<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <title>Home Page - Dungeons & Dragons Character Generator</title>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <div>
          <a href="/">Dungeons & Dragons Character Generator</a>
        </div>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        {{!-- <a href="/profile">profile</a> | --}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
          <a href="/login.handlebars">login</a>
        {{/if}}
      </nav>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>
      <div>
        <p>Contact Us!</p>
      </div>
      <div>
        <a>name1</a>          {{!-- We can add out Github OR linkedIn accounts OR email here --}}
        <a>name2</a>
        <a href="https://github.com/aridel96">Arianna</a>
      </div>
    </footer>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
