{{!-- TO DO: UPDATE ALL CSS!!!!! --}}
{{!-- ADD SCRIPT TAG TO CONNECT FORM TO JS --}}

{{!-- <div class="row">
  <div class="col-auto">
    <h2>Create A New Character</h2>
  </div>
</div> --}}


<div class="demo">
  <form action="#">
  
    <fieldset>
      <div>
        <div class="form-group">
          <label for="character-name">Character's name:</label>
          <input class="form-input" type="text" id="character-name" />
        </div>
        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>
      </div>

      <div>
        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>

        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>

        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>

        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>

        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>

        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>

      </div>









      <label for="speed">Select a speed</label>
      <select name="speed" id="speed">
        <option>Slower</option>
        <option>Slow</option>
        <option selected="selected">Medium</option>
        <option>Fast</option>
        <option>Faster</option>
      </select>
  
      <label for="files">Select a file</label>
      <select name="files" id="files">
        <optgroup label="Scripts">
          <option value="jquery">jQuery.js</option>
          <option value="jqueryui">ui.jQuery.js</option>
        </optgroup>
        <optgroup label="Other files">
          <option value="somefile">Some unknown file</option>
          <option value="someotherfile">Some other file with a very long option text</option>
        </optgroup>
      </select>
  
      <label for="number">Select a number</label>
      <select name="number" id="number">
        <option>1</option>
        <option selected="selected">2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
      </select>
  
      <label for="salutation">Select a title</label>
      <select name="salutation" id="salutation">
        <option disabled selected>Please pick one</option>
        <option>Mr.</option>
        <option>Mrs.</option>
        <option>Dr.</option>
        <option>Prof.</option>
        <option>Other</option>
      </select>
    </fieldset>
  
  </form>
 
</div>
 


























































<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Selections</h3>
  </div>

  <div>
    <nav>
      <button class="btn btn-sm btn-primary">Abilities</button>
      <button class="btn btn-sm btn-primary">Race</button>
      <button class="btn btn-sm btn-primary">Class</button>
      <button class="btn btn-sm btn-primary">Background</button>
    </nav>
  </div>
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
