{{!--These should be card options. Does this need JS to link to each page?--}}
<main>
  <h2 class="text-center">Welcome, {{name}}!</h2>

  <div class="container text-center">
    <div class="row">
      <div id="view" class="col">
        <a href="/characters">
          <img src="./Images/blankprofile.png" class="icon">
          <p class="fs-2 ">View Your Characters</p>
        </a>
      </div>

      <div class="col">
        <a href="/newCharacter">
          <img src="./Images/d20sil.png" class="icon">
          <p class="fs-2 ">Create A New Character</p>
        </a>
      </div>
    </div>
  </div>
</main>