{{!--These should be card options. Does this need JS to link to each page?--}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
  <div>
    <a href="/views/viewCharacters.handlebars">
      <h3>View Your Characters</h3>
    </a>
  </div>
  <div>
    <a href="/views/characterForm.handlebars">
      <h3>Create A New Character</h3>
    </a>
  </div>
</div>