    <div class="container-fluid m-2 p-2">
    
        <div class="row border m-2 p-2 rounded-pill">
            {{!-- Row 1 / Character Options --}}
            <div class="row text-center">
                <div class="col m-2 p-2">
                    <div>Name</div>
                    <div class="border-top">Yar</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Level</div>
                    <div class="border-top">MAXIMUM</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Race</div>
                    <div class="border-top">Meow</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Background</div>
                    <div class="border-top">Chuunibyou</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Class</div>
                    <div class="border-top">The Holy One</div>
                </div>
            </div>
            {{!-- Row 2 / Ability Scores --}}
            <div class="row text-center">
                <div class="col m-2 p-2">
                    <div>Strength</div>
                    <div class="border-top">17</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Dexterity</div>
                    <div class="border-top">8</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Constitution</div>
                    <div class="border-top">16</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Intelligence</div>
                    <div class="border-top">10</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Wisdom</div>
                    <div class="border-top">13</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Charisma</div>
                    <div class="border-top">12</div>
                </div>
            </div>
        </div>

    </div>